<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<array>
		<dict>
			<key>name</key>
			<string>pim</string>
			<key>uuid</key>
			<string>3wwSehsrSyyseltB0OE+gg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Photojournalism</string>
			<key>uuid</key>
			<string>3V2U4WriQziGewI5YCHH0Q</string>
			<key>zChildren</key>
			<array>
				<dict>
					<key>name</key>
					<string>Arts</string>
					<key>parentUuid</key>
					<string>3V2U4WriQziGewI5YCHH0Q</string>
					<key>uuid</key>
					<string>vK%%31AJTGKO2TiS3IQ2YQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Sequence</string>
					<key>parentUuid</key>
					<string>3V2U4WriQziGewI5YCHH0Q</string>
					<key>uuid</key>
					<string>QPJ0SRGISgWWzhU+XVDlkQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Photo essay</string>
					<key>parentUuid</key>
					<string>3V2U4WriQziGewI5YCHH0Q</string>
					<key>uuid</key>
					<string>RxIs50pfTS6+J+GxW4K6Yw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Newspaper</string>
					<key>parentUuid</key>
					<string>3V2U4WriQziGewI5YCHH0Q</string>
					<key>uuid</key>
					<string>OSH6IPruQyug497HDDkGzw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Nature</string>
					<key>parentUuid</key>
					<string>3V2U4WriQziGewI5YCHH0Q</string>
					<key>uuid</key>
					<string>gWWeVYzTQriDOSwbDz3a4A</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Feature</string>
					<key>parentUuid</key>
					<string>3V2U4WriQziGewI5YCHH0Q</string>
					<key>uuid</key>
					<string>87iZemcPSwe8ZSyAfk2GTw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Conceptual</string>
					<key>parentUuid</key>
					<string>3V2U4WriQziGewI5YCHH0Q</string>
					<key>uuid</key>
					<string>gmrUcHnHQVuMDYMhx3XgxA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Sports</string>
					<key>parentUuid</key>
					<string>3V2U4WriQziGewI5YCHH0Q</string>
					<key>uuid</key>
					<string>CS+3bThySCOGB0O5sxI0HA</string>
					<key>zChildren</key>
					<array>
						<dict>
							<key>name</key>
							<string>Action</string>
							<key>parentUuid</key>
							<string>CS+3bThySCOGB0O5sxI0HA</string>
							<key>uuid</key>
							<string>SN8FG6xpQfqmM9FRFIPetw</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Team</string>
							<key>parentUuid</key>
							<string>CS+3bThySCOGB0O5sxI0HA</string>
							<key>uuid</key>
							<string>MtvfeE4eQlifB3Duthlr0A</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Individual</string>
							<key>parentUuid</key>
							<string>CS+3bThySCOGB0O5sxI0HA</string>
							<key>uuid</key>
							<string>6GzCG5LdQ8qSMKJXnIyxYg</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Feature</string>
							<key>parentUuid</key>
							<string>CS+3bThySCOGB0O5sxI0HA</string>
							<key>uuid</key>
							<string>Tj2DKCgzSp66HzE4y7j6FA</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Portrait</string>
					<key>parentUuid</key>
					<string>3V2U4WriQziGewI5YCHH0Q</string>
					<key>uuid</key>
					<string>GZpmf1HVQwi+NZcSz3sLlQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Personality</string>
					<key>parentUuid</key>
					<string>3V2U4WriQziGewI5YCHH0Q</string>
					<key>uuid</key>
					<string>j+ZhBbwvSJScw5YR0mfcvQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>News</string>
					<key>parentUuid</key>
					<string>3V2U4WriQziGewI5YCHH0Q</string>
					<key>uuid</key>
					<string>E5PCwukiSquX02BSI9uHMQ</string>
					<key>zChildren</key>
					<array>
						<dict>
							<key>name</key>
							<string>International</string>
							<key>parentUuid</key>
							<string>E5PCwukiSquX02BSI9uHMQ</string>
							<key>uuid</key>
							<string>BZd1Efg2SBaCLOBX0BsfqA</string>
						</dict>
						<dict>
							<key>name</key>
							<string>General</string>
							<key>parentUuid</key>
							<string>E5PCwukiSquX02BSI9uHMQ</string>
							<key>uuid</key>
							<string>uGXnmIHrRg2CxbH%zZx3xw</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Election</string>
							<key>parentUuid</key>
							<string>E5PCwukiSquX02BSI9uHMQ</string>
							<key>uuid</key>
							<string>1FzmPhLISNmEIgfbzVJMug</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Domestic</string>
							<key>parentUuid</key>
							<string>E5PCwukiSquX02BSI9uHMQ</string>
							<key>uuid</key>
							<string>3V29TqvHTqa3K%8F91reCA</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Magazine</string>
					<key>parentUuid</key>
					<string>3V2U4WriQziGewI5YCHH0Q</string>
					<key>uuid</key>
					<string>2zT%vySBQCWy8aIszbJ10A</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Environment</string>
					<key>parentUuid</key>
					<string>3V2U4WriQziGewI5YCHH0Q</string>
					<key>uuid</key>
					<string>zcdfBJR0SYaV3973e7M2Lw</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Wedding</string>
			<key>uuid</key>
			<string>hN2MajUwQimG1vkaXK2mdQ</string>
			<key>zChildren</key>
			<array>
				<dict>
					<key>name</key>
					<string>Transportation</string>
					<key>parentUuid</key>
					<string>hN2MajUwQimG1vkaXK2mdQ</string>
					<key>uuid</key>
					<string>v4RfYkFdQ4eQ2YrVlktghw</string>
					<key>zChildren</key>
					<array>
						<dict>
							<key>name</key>
							<string>Carriage</string>
							<key>parentUuid</key>
							<string>v4RfYkFdQ4eQ2YrVlktghw</string>
							<key>uuid</key>
							<string>6eQYWufNRjG92sYiM0l3GA</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Limo</string>
							<key>parentUuid</key>
							<string>v4RfYkFdQ4eQ2YrVlktghw</string>
							<key>uuid</key>
							<string>haiLqWiHRHOQuSqnvLPnzg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Details</string>
					<key>parentUuid</key>
					<string>hN2MajUwQimG1vkaXK2mdQ</string>
					<key>uuid</key>
					<string>hlQ73HgjTi2AOIQL5QSXvg</string>
					<key>zChildren</key>
					<array>
						<dict>
							<key>name</key>
							<string>Hands</string>
							<key>parentUuid</key>
							<string>hlQ73HgjTi2AOIQL5QSXvg</string>
							<key>uuid</key>
							<string>EgzAlnNDRtKeQXQtfVZlOg</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Clothes</string>
							<key>parentUuid</key>
							<string>hlQ73HgjTi2AOIQL5QSXvg</string>
							<key>uuid</key>
							<string>SIFMGBNRQ8qM0d2mBSixJg</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Rings</string>
							<key>parentUuid</key>
							<string>hlQ73HgjTi2AOIQL5QSXvg</string>
							<key>uuid</key>
							<string>Rq8OVPFxQQOQTEL617ZTlg</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Fabrics</string>
							<key>parentUuid</key>
							<string>hlQ73HgjTi2AOIQL5QSXvg</string>
							<key>uuid</key>
							<string>PoZARb%wS2KvcYD1ad8iUQ</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Table setting</string>
							<key>parentUuid</key>
							<string>hlQ73HgjTi2AOIQL5QSXvg</string>
							<key>uuid</key>
							<string>GSpvBzxRQoCCV6g8BudIkw</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Faces</string>
							<key>parentUuid</key>
							<string>hlQ73HgjTi2AOIQL5QSXvg</string>
							<key>uuid</key>
							<string>SuRNF30CQV6okCAeqESyxw</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Architectural</string>
							<key>parentUuid</key>
							<string>hlQ73HgjTi2AOIQL5QSXvg</string>
							<key>uuid</key>
							<string>z3WDXy%FQIGZrzfLFaVUmA</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Flowers</string>
							<key>parentUuid</key>
							<string>hlQ73HgjTi2AOIQL5QSXvg</string>
							<key>uuid</key>
							<string>fhO7+LkcQHSbd7NCYAf3aw</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cake</string>
							<key>parentUuid</key>
							<string>hlQ73HgjTi2AOIQL5QSXvg</string>
							<key>uuid</key>
							<string>7MDtKkhyQh6ESHwRISIXDA</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Candids</string>
					<key>parentUuid</key>
					<string>hN2MajUwQimG1vkaXK2mdQ</string>
					<key>uuid</key>
					<string>+hz66rrOSXO+YKR+NauL+Q</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Receiving line</string>
					<key>parentUuid</key>
					<string>hN2MajUwQimG1vkaXK2mdQ</string>
					<key>uuid</key>
					<string>Y2NSJItcRImTD94q785lAA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Preparations</string>
					<key>parentUuid</key>
					<string>hN2MajUwQimG1vkaXK2mdQ</string>
					<key>uuid</key>
					<string>W12TpdloQmOqLAGo9Vs6yA</string>
					<key>zChildren</key>
					<array>
						<dict>
							<key>name</key>
							<string>Flowers</string>
							<key>parentUuid</key>
							<string>W12TpdloQmOqLAGo9Vs6yA</string>
							<key>uuid</key>
							<string>UdDU3M4VRYWyfnWTAqXHXg</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Dressing</string>
							<key>parentUuid</key>
							<string>W12TpdloQmOqLAGo9Vs6yA</string>
							<key>uuid</key>
							<string>tgSAakdgQ5OroPCP8LlqnQ</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Makeup</string>
							<key>parentUuid</key>
							<string>W12TpdloQmOqLAGo9Vs6yA</string>
							<key>uuid</key>
							<string>bwADz97GQaO8IVb3GxQ+ng</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Decorations</string>
							<key>parentUuid</key>
							<string>W12TpdloQmOqLAGo9Vs6yA</string>
							<key>uuid</key>
							<string>8PqPDXnyQVCAPiJHNs7YGQ</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Hair</string>
							<key>parentUuid</key>
							<string>W12TpdloQmOqLAGo9Vs6yA</string>
							<key>uuid</key>
							<string>5fYRTX1mTYm38FbuNvG5kA</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Portraiture</string>
					<key>parentUuid</key>
					<string>hN2MajUwQimG1vkaXK2mdQ</string>
					<key>uuid</key>
					<string>ExMD6IDISUmLaD4qQlwPnw</string>
					<key>zChildren</key>
					<array>
						<dict>
							<key>name</key>
							<string>Creative</string>
							<key>parentUuid</key>
							<string>ExMD6IDISUmLaD4qQlwPnw</string>
							<key>uuid</key>
							<string>LwHZp4IMRHOQ0TIUteQRzA</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Formals</string>
							<key>parentUuid</key>
							<string>ExMD6IDISUmLaD4qQlwPnw</string>
							<key>uuid</key>
							<string>onAZsDQbSNqEjFQWaKJusg</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Silhouettes</string>
							<key>parentUuid</key>
							<string>ExMD6IDISUmLaD4qQlwPnw</string>
							<key>uuid</key>
							<string>W3IKUU%ITzOu4ruODzFyUA</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Vows</string>
					<key>parentUuid</key>
					<string>hN2MajUwQimG1vkaXK2mdQ</string>
					<key>uuid</key>
					<string>0YWzASCKQeG6Dl%ZhPhR2Q</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Sequences</string>
					<key>parentUuid</key>
					<string>hN2MajUwQimG1vkaXK2mdQ</string>
					<key>uuid</key>
					<string>MEfDFxZVTGyOLatYOCbb7g</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Ceremony</string>
					<key>parentUuid</key>
					<string>hN2MajUwQimG1vkaXK2mdQ</string>
					<key>uuid</key>
					<string>5naZW5y3S7K9+LXjDAYxOw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Reception</string>
					<key>parentUuid</key>
					<string>hN2MajUwQimG1vkaXK2mdQ</string>
					<key>uuid</key>
					<string>0LSlOxDVRHqoakJDQt7mhQ</string>
					<key>zChildren</key>
					<array>
						<dict>
							<key>name</key>
							<string>Last dance</string>
							<key>parentUuid</key>
							<string>0LSlOxDVRHqoakJDQt7mhQ</string>
							<key>uuid</key>
							<string>CmAs2aN5SR2SSjK3OgKP5Q</string>
						</dict>
						<dict>
							<key>name</key>
							<string>First dance</string>
							<key>parentUuid</key>
							<string>0LSlOxDVRHqoakJDQt7mhQ</string>
							<key>uuid</key>
							<string>5HUu%HRNT5GistuL79LeMg</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Toasts</string>
							<key>parentUuid</key>
							<string>0LSlOxDVRHqoakJDQt7mhQ</string>
							<key>uuid</key>
							<string>4eFE6xP9Q7C0XoGAdTh3iA</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cake cutting</string>
							<key>parentUuid</key>
							<string>0LSlOxDVRHqoakJDQt7mhQ</string>
							<key>uuid</key>
							<string>O2GwplMETLylLXocEadXVw</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Table shots</string>
							<key>parentUuid</key>
							<string>0LSlOxDVRHqoakJDQt7mhQ</string>
							<key>uuid</key>
							<string>Fsjj+YLxRJ+cIYvlYk%R+Q</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Guests</string>
					<key>parentUuid</key>
					<string>hN2MajUwQimG1vkaXK2mdQ</string>
					<key>uuid</key>
					<string>204OibyZSY2mCGlncEbHnA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Wedding party</string>
					<key>parentUuid</key>
					<string>hN2MajUwQimG1vkaXK2mdQ</string>
					<key>uuid</key>
					<string>lnaCknW5TMGmYHYTkr%vNA</string>
					<key>zChildren</key>
					<array>
						<dict>
							<key>name</key>
							<string>Groom</string>
							<key>parentUuid</key>
							<string>lnaCknW5TMGmYHYTkr%vNA</string>
							<key>uuid</key>
							<string>SplQ0ax+Qtyoop%GUi6J6w</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Groomsman</string>
							<key>parentUuid</key>
							<string>lnaCknW5TMGmYHYTkr%vNA</string>
							<key>uuid</key>
							<string>tnL7LXK3SoOOMav3J21eTw</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Best man</string>
							<key>parentUuid</key>
							<string>lnaCknW5TMGmYHYTkr%vNA</string>
							<key>uuid</key>
							<string>UycB8jawTT2VPklhLVD3vg</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Maid of honor</string>
							<key>parentUuid</key>
							<string>lnaCknW5TMGmYHYTkr%vNA</string>
							<key>uuid</key>
							<string>EW+rLczISV2sa51OLCpygw</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bride</string>
							<key>parentUuid</key>
							<string>lnaCknW5TMGmYHYTkr%vNA</string>
							<key>uuid</key>
							<string>JjX7r9sHSK2Zu603wNnMzg</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Usher</string>
							<key>parentUuid</key>
							<string>lnaCknW5TMGmYHYTkr%vNA</string>
							<key>uuid</key>
							<string>b2PusZ2ZSjSaS+tEJCOFpw</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bridesmaid</string>
							<key>parentUuid</key>
							<string>lnaCknW5TMGmYHYTkr%vNA</string>
							<key>uuid</key>
							<string>kGx6rRi+QCCtKY8Fg5yEsA</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Photo specs</string>
			<key>uuid</key>
			<string>N1%37MpjTEaIkURKn1xLMw</string>
			<key>zChildren</key>
			<array>
				<dict>
					<key>name</key>
					<string>Image type</string>
					<key>parentUuid</key>
					<string>N1%37MpjTEaIkURKn1xLMw</string>
					<key>uuid</key>
					<string>OCrjPDebS5KIW5PPDPACwg</string>
					<key>zChildren</key>
					<array>
						<dict>
							<key>name</key>
							<string>Landscape</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>z%RJ88OLRi6emLE84V81vg</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Headshot</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>9ivjzr%WQn2BTRJzBlMOTQ</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Full body</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>fc0DLNXcQ1mEKZMaa9XP7w</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Close-up</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>19JpuE5NTaq7JbdP3sHkow</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Aerial</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>lt1rP9AnSzKKLlAAPFXAog</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Still life</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>C3mbBJZIRs22ebbCWjdPnQ</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Profile</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>EgXF+B0YQYCfwI%+Qa7z5w</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Outdoor</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>9C1zEV0gSTGapf2wdmlksw</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Indoor</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>i4BFera8SPCpIuv5MiF2GA</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Group</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>UmPRWnAuSrSl%JFXTadHrA</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Conceptual</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>yLeSa%qURxehpqg1gvtpTA</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Background</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>8ivku6G0RVSzpsx4ZXAtew</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Action</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>xkg5vVyiStuZe6lzAOTH9g</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Time exposure</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>3ykGadYoR+StYFSTNWLuOQ</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Silhouette</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>mScSmTr5SLaekNlT8RGD2A</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Portrait</string>
							<key>parentUuid</key>
							<string>OCrjPDebS5KIW5PPDPACwg</string>
							<key>uuid</key>
							<string>fnlcHAwIS3+paCkTh200VQ</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Orientation</string>
					<key>parentUuid</key>
					<string>N1%37MpjTEaIkURKn1xLMw</string>
					<key>uuid</key>
					<string>pLuxFCNATrSx1XuTIREfLw</string>
					<key>zChildren</key>
					<array>
						<dict>
							<key>name</key>
							<string>Square</string>
							<key>parentUuid</key>
							<string>pLuxFCNATrSx1XuTIREfLw</string>
							<key>uuid</key>
							<string>JqKn4ApgTZCM0HtczH0yyA</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Landscape</string>
							<key>parentUuid</key>
							<string>pLuxFCNATrSx1XuTIREfLw</string>
							<key>uuid</key>
							<string>bWMXSo6zS%GJUTYJBfqytw</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Portrait</string>
							<key>parentUuid</key>
							<string>pLuxFCNATrSx1XuTIREfLw</string>
							<key>uuid</key>
							<string>UNz09h05Sf+XS+h0EDvhXA</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Scans</string>
					<key>parentUuid</key>
					<string>N1%37MpjTEaIkURKn1xLMw</string>
					<key>uuid</key>
					<string>OV3R0%11Ta+iddxOAGRCnQ</string>
					<key>zChildren</key>
					<array>
						<dict>
							<key>name</key>
							<string>35mm transparency</string>
							<key>parentUuid</key>
							<string>OV3R0%11Ta+iddxOAGRCnQ</string>
							<key>uuid</key>
							<string>zGiPgKwNRNGcrurSbj28qg</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Medium format</string>
							<key>parentUuid</key>
							<string>OV3R0%11Ta+iddxOAGRCnQ</string>
							<key>uuid</key>
							<string>XTWHIK79RGWpXiaNZ0b4+Q</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Large format</string>
							<key>parentUuid</key>
							<string>OV3R0%11Ta+iddxOAGRCnQ</string>
							<key>uuid</key>
							<string>AvuJFteQQki1VQEE0dTIew</string>
						</dict>
						<dict>
							<key>name</key>
							<string>35mm print</string>
							<key>parentUuid</key>
							<string>OV3R0%11Ta+iddxOAGRCnQ</string>
							<key>uuid</key>
							<string>1uxwo2NOSeyj%+eZrxy3oA</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Panoramic</string>
							<key>parentUuid</key>
							<string>OV3R0%11Ta+iddxOAGRCnQ</string>
							<key>uuid</key>
							<string>Nv%sqsJSQxaXsFWccAcnVA</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Time</string>
					<key>parentUuid</key>
					<string>N1%37MpjTEaIkURKn1xLMw</string>
					<key>uuid</key>
					<string>mVTrrxdZR0mqosclXIKtKw</string>
					<key>zChildren</key>
					<array>
						<dict>
							<key>name</key>
							<string>Night</string>
							<key>parentUuid</key>
							<string>mVTrrxdZR0mqosclXIKtKw</string>
							<key>uuid</key>
							<string>RmoVVkGoTeGTuUKpxqivew</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Day</string>
							<key>parentUuid</key>
							<string>mVTrrxdZR0mqosclXIKtKw</string>
							<key>uuid</key>
							<string>Em0N2Y8JTgCyrgRbbekWNA</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Sunset</string>
							<key>parentUuid</key>
							<string>mVTrrxdZR0mqosclXIKtKw</string>
							<key>uuid</key>
							<string>Zi9DQ4WpRiGNxhH3qg+8Ow</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Sunrise</string>
							<key>parentUuid</key>
							<string>mVTrrxdZR0mqosclXIKtKw</string>
							<key>uuid</key>
							<string>Qp8mKa4fQkuDeBkCZtujlw</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Personal</string>
			<key>uuid</key>
			<string>uoU6IjovSf25r6UlUmbM+w</string>
			<key>zChildren</key>
			<array>
				<dict>
					<key>name</key>
					<string>Pool</string>
					<key>parentUuid</key>
					<string>uoU6IjovSf25r6UlUmbM+w</string>
					<key>uuid</key>
					<string>jBp12sUGQWapc80m68OHMQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Family</string>
					<key>parentUuid</key>
					<string>uoU6IjovSf25r6UlUmbM+w</string>
					<key>uuid</key>
					<string>IGVRleiyQuCUK9uu6smnFg</string>
				</dict>
				<dict>
					<key>name</key>
					<string>School</string>
					<key>parentUuid</key>
					<string>uoU6IjovSf25r6UlUmbM+w</string>
					<key>uuid</key>
					<string>vqDhN41FR4eqsDwKxy%GSw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Holiday</string>
					<key>parentUuid</key>
					<string>uoU6IjovSf25r6UlUmbM+w</string>
					<key>uuid</key>
					<string>4HTEq34NSQSBLcw3+KlCTQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Backyard</string>
					<key>parentUuid</key>
					<string>uoU6IjovSf25r6UlUmbM+w</string>
					<key>uuid</key>
					<string>NTx7jTNOQFODxbMNyUv1fg</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Vacation</string>
					<key>parentUuid</key>
					<string>uoU6IjovSf25r6UlUmbM+w</string>
					<key>uuid</key>
					<string>mq%11+oBSsy0KEYI8N8Fsg</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Home</string>
					<key>parentUuid</key>
					<string>uoU6IjovSf25r6UlUmbM+w</string>
					<key>uuid</key>
					<string>ZOprV8zUSdutSCgBgR4LOw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Beach</string>
					<key>parentUuid</key>
					<string>uoU6IjovSf25r6UlUmbM+w</string>
					<key>uuid</key>
					<string>2+a%QZJ%Q7WL+EDs1CxBJw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Kids</string>
					<key>parentUuid</key>
					<string>uoU6IjovSf25r6UlUmbM+w</string>
					<key>uuid</key>
					<string>cPThCS1QTrmMxtYqebe8vQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Birthday</string>
					<key>parentUuid</key>
					<string>uoU6IjovSf25r6UlUmbM+w</string>
					<key>uuid</key>
					<string>Q6MpTuUcTfeV7d3yCfzw9A</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Stock categories</string>
			<key>uuid</key>
			<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
			<key>zChildren</key>
			<array>
				<dict>
					<key>name</key>
					<string>Weather</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>gCCDf6FMR%CRhN9H9QoRVw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Vintage</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>6kevF3m9TBSdAl5a6hGJog</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Underwater</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>6sMTpOrLTjmvR+Fljswe5g</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Travel</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>2BGz0Eu8RtqZb7rcFzUTiA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Transportation</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>BM2dI1EcRdy7ZzhomkoFxg</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Traditional</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>S2SDVME3RT6%YUDqAWANBQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Tourism</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>BfXX0r3HRxmsFU40A0Q12A</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Technology</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>47bxKM17TbSUFDOBHKwlZQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Symbols</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>q0c%HFbnTt6hgNnDnNWdIw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Still life</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>f03bKdT9Rq+ZCoUkVJC4jw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Sports</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>xk%5MEKIRyW4fXLT2oZjgA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Signs</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>Mg4j6DUOQDaAlHTQjgGdVg</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Science</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>w8y6CcD%QH6Luy1RjKFTGw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Religion</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>xxRGhnrqSa+L9+lwgJJbKw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Recreation</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>PurofYPXQWOFWwJ7cNKrgA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Political</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>GSR0TchaQECplpIemeu9AQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>People</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>TqJpLGM%RHO1MMXzVo9Q4A</string>
					<key>zChildren</key>
					<array>
						<dict>
							<key>name</key>
							<string>Adults</string>
							<key>parentUuid</key>
							<string>TqJpLGM%RHO1MMXzVo9Q4A</string>
							<key>uuid</key>
							<string>C4VctRVHSvmSTRVK7CwvZA</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Girl</string>
							<key>parentUuid</key>
							<string>TqJpLGM%RHO1MMXzVo9Q4A</string>
							<key>uuid</key>
							<string>R8c+yC+TRaqmwC8T8pN+zQ</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Baby</string>
							<key>parentUuid</key>
							<string>TqJpLGM%RHO1MMXzVo9Q4A</string>
							<key>uuid</key>
							<string>11rn3uNeRA2EaitDYC07LA</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Man</string>
							<key>parentUuid</key>
							<string>TqJpLGM%RHO1MMXzVo9Q4A</string>
							<key>uuid</key>
							<string>P3IBl45+R0mGe9pse+LW5g</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Boy</string>
							<key>parentUuid</key>
							<string>TqJpLGM%RHO1MMXzVo9Q4A</string>
							<key>uuid</key>
							<string>Cg%HtZj7R%G+vDin3KDlbQ</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Woman</string>
							<key>parentUuid</key>
							<string>TqJpLGM%RHO1MMXzVo9Q4A</string>
							<key>uuid</key>
							<string>+S1%CVOqTV6qlyultE%4YQ</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Children</string>
							<key>parentUuid</key>
							<string>TqJpLGM%RHO1MMXzVo9Q4A</string>
							<key>uuid</key>
							<string>qGXnF2mnSVGhnlYsPByoKQ</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Couple</string>
							<key>parentUuid</key>
							<string>TqJpLGM%RHO1MMXzVo9Q4A</string>
							<key>uuid</key>
							<string>GcpZyv83TySIQ3WvmmgirQ</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Outdoors</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>beBmDhQ%SpGwAo2N9%uTMQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Nostalgia</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>BZ7jMmrkQoadFYGS5tg1HA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Nautical</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>Fk7%+nUxSv2M3dgGH35ZQQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Nature</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>pSVC8O5DTTeXkmVpxqoOtQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Models</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>bafZnlb9TyqgIRzsHm0Law</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Military</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>4h27SXHLSFiZo7p1tXIxCw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Medical</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>H5Gb2HVuTZGzJgpcx8ss%g</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Manufacturing</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>NI5qCbYRS32dItAamv5giQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Lifestyles</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>GNefVs2sRcqgfU9dbAnlUA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Leisure</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>vmPEJdFwRzKlEkK4smG0wQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Landscapes</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>HF35aSRTTPWG0vhAMlBAtA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>International</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>Nn9tOyjZTECK%iLk9CupDQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Industry</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>2V7yUa1LSoKiiMgBi%cEQw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Homes</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>fIvbRb56Sj6Ei0rdIU1yNA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Holiday</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>moKI0MdVQxWQUhwPrd8QHQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Historic</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>N6oPphlhSP6zbT7rSJBsUw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Health</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>X4Gtik5XSLSd4RqdloYQ+g</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Government</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>Y6jM2y%bQ2i%6+CENOpQ7w</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Glamour</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>ZEyKal4uTk6i+Z65r1nz2g</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Food</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>iBHA4pVsSGeR0oEDKhyZvA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Flowers</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>yoDNorNQSf6Ht+mI4d%FyA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Fine art</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>gFs9zXSoSP22RtRTsYLZxg</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Fantasy</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>qpUXt+0YSfycZpor%XlTBg</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Entertainment</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>DtJihrRGRCitOZHGpS53cA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Education</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>k4aF93TETZCqQIyFg3yrTw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Documentary</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>OKUgKW+hSg+SVdg93Keltw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Culture</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>4Jud3TVwS+S7ykH38aMjBw</string>
				</dict>
				<dict>
					<key>name</key>
					<string>City</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>3uQJDhrtTOGcFmnekibqCg</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Celebrations</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>gqMyTzV1Qp+sD92e6eVR3Q</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Business</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>DZz7DbSERCqkJSAoDkUJPg</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Backgrounds</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>Ox4mghvGS4SJrkYp7xzdBA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Architecture</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>AaUBdeeZRDS%kzZlnGd75g</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Animals</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>N%obWTIDRaiyzLAD3S6wGA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Agriculture</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>9YoHGNvaQFGSOtQ+5ENiCQ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Abstract</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>wpUai5cGRvOI4a82GXSLag</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Wildlife</string>
					<key>parentUuid</key>
					<string>1mbCbQNhQjmFfoe%DuI1Pw</string>
					<key>uuid</key>
					<string>t8s60AjXRUaGsAlgllwR1w</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>keywords_version</key>
	<integer>6</integer>
</dict>
</plist>
